.nav-link-reddit {
    position: relative;
    z-index: 2;
    height: 34.45vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 5px 5px rgb(0, 0, 0));
    background-image: url("https://www.protocol.com/media-library/reddit.jpg?id=23322698&width=1245&height=700&quality=85&coordinates=0%2C0%2C0%2C0");
  }
  .nav-link-weather {
    position: relative;
    z-index: 1;
    height: 50vh;
    margin-top: -1em;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 5px 5px rgb(0, 0, 0));
    background-image: url("http://store-images.s-microsoft.com/image/apps.19014.9007199266249219.3935fe2a-af13-4fb9-bf55-92a85683a57f.96619270-3485-417c-bfaf-e981d2474bb3");
  }
  .nav-link-todos {
    position: relative;
    height: 50vh;
    margin-top: -1em;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 5px 5px rgb(0, 0, 0));
    background-color: #f3f3f3;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
  }
  .reddit-icon {
    margin-right: 20px;
    background-position: right;
    width: 10%;
  }
  .weather-icon {
    margin-right: 20px;
    background-position: right;
    width: 10%;
  }
  a{
      text-decoration: none;
      color: #000;
  }
  